/* .card-img-top {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */
/* 
.card {
    width: 50%;
    max-width: 300px;
    margin: 0 auto 30px;
} */


/* .card a:hover {
    text-decoration: none;
    color: inherit;
} */

.text-black {
    color: #000;
}

